.team {
  text-align: center;
}

.team-subtitle {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.65;
}

.team-title {
  font-size: 38px;
  font-weight: 300;
  line-height: 1.26;
}

.team-text {
  font-size: 18px;
  line-height: 1.55;
}
